<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saltedfish.community_management.mapper.ChargeMapper">

    <insert id="insertCharge" parameterType="com.saltedfish.community_management.bean.Charge">
        insert into charge
        (name,description,standard,creationDate,note)
        values
        (#{name},#{description},#{standard},#{creationDate},#{note})
    </insert>

    <update id="updateCharge" parameterType="com.saltedfish.community_management.bean.Charge">
        update charge
        set
        name=#{name},description=#{description},standard=#{standard},creationDate=#{creationDate},note=#{note}
        where id = #{id}
    </update>

    <delete id="deleteCharge">
        delete from charge where id = #{id}
    </delete>

    <select id="findChargeById" resultType="com.saltedfish.community_management.bean.Charge">
        select id,name,description,standard,creationDate,note
        from charge
        where id = #{id}
    </select>

    <select id="findCharge" parameterType="java.util.Map" resultType="com.saltedfish.community_management.bean.Charge">
        select id,name,description,standard,creationDate,note
        from charge
        where 1
        <if test="conditionMap.name != null">
            and name = #{conditionMap.name}
        </if>
        <if test="conditionMap.standard != null">
            and standard = #{conditionMap.standard}
        </if>
        <if test="conditionMap.creationDate != null">
            and creationDate = #{conditionMap.creationDate}
        </if>
    </select>
</mapper>