<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saltedfish.community_management.mapper.UserMapper">

    <!--<select id="cmLogin" resultType="com.saltedfish.community_management.bean.User">
        select id,hh_id,account,password,openId,salt
        from user
        where account=#{account} and password=#{password}
    </select>-->

    <select id="wxLogin" resultType="com.saltedfish.community_management.bean.User">
        select id,hh_id,username,password,openId,salt
        from user
        where openId=#{openId}
    </select>

    <update id="bindWx">
        update user
        set
        openId=#{openId}
        where hh_id=#{id}
    </update>

    <update id="unbindWx">
        update user
        set
        openId=NULL
        where hh_id=#{id}
    </update>

    <select id="findIsBindByHid" resultType="com.saltedfish.community_management.bean.User">
        select id,hh_id,username,password,openId,salt
        from user
        where hh_id=#{hh_id} and openId is not null
    </select>

    <insert id="insertUser" parameterType="com.saltedfish.community_management.bean.User">
        insert into user
        (hh_id,username,password,openId,salt)
        values
        (#{hh_id},#{username},#{password},#{openId},#{salt})
    </insert>

    <select id="findUserByHouseholdId" resultType="com.saltedfish.community_management.bean.User">
        select id,hh_id,username,password,openId,salt
        from user
        where hh_id = #{hh_id}
    </select>

    <select id="findUserByUsername" resultType="com.saltedfish.community_management.bean.User">
        select id,hh_id,username,password,openId,salt
        from user
        where username = #{username}
    </select>

    <update id="modifyPassword">
        update user
        set password=#{password},salt=#{salt}
        where hh_id=#{hh_id}
    </update>
    <select id="findAdminUser" resultType="com.saltedfish.community_management.bean.User">
        select id,hh_id,username,password,openId,salt
        from user
        where ISNULL(hh_id)
    </select>

</mapper>